__pycache__/
ownLibraries/__pycache__/
casosDebug/
casosReportados/
VideoCapture/
installationFiles/datos.npy
installationFiles/flujo.jpg
installationFiles/placa.jpg
*.py~
\?*
ownLibraries/*.py~
ownLibraries/\?*
x264/
data/
data
*.txt
logs/
documentation/*.aux
documentation/*.log
documentation/*.out
documentation/*.gz
documentation/*.toc
documentation/*.png
documentation/*.jpg
documentation/*txt


