{% extends "header.html" %}

{% block body %}



<div class"container">
	<div class="media">
		<div class="media-left" >
			<div id="pointer_div" onclick="point_it(event)">
				<img  class="img-fluid" alt="Responsive image" style="width:500px;height:333px;" src="../static/images/demo.jpg">
			</div>
		</div>
		<div class="media-body">
			<h3 class="media-heading">Instllation of semaforo></h3>
				<div id="pointer_div" onclick="point_it(event)">
				</div>
				You pointed on x = <input type="text" name="form_x" size="4" /> - y = <input type="text" name="form_y" size="4" />
			</form>
		</div>
	</div>
</div>

{% endblock %}
<!--style="position:relative;visibility:hidden;z-index:2;" -->